@page {
    /*size: A4 landscape;*/
    size: landscape;
    margin: 25mm 50mm 25mm 50mm !important;
}

@media print {

    #printArea{
        justify-content: center;
        text-align: center;
    }



    #printArea .input-daterange {
        display: none !important;
    }

    #printArea #merchantWiseReport {
        border-width: 1px;
        border-color: #666666;
        border-collapse: collapse;
        margin-top: 50px;
    }

    #merchantWiseReport td, #merchantWiseReport th {
        border: 1px solid #dee2e6;
    }
}

